body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex: 1; 
    flex-direction: row; 
    height: calc(100% - 62px); /* Adjust height to fit the container without header */
    width: 100%;
    border-top: 1px solid #ccc;
}

.video-section, .description-section {
    flex: 1;
    background-color: #f9f9f9;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.video-container, .description-container {
    flex: 1;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.video-container video {
    width: 100%;
    height: auto;
}

.description {
    white-space: pre-wrap; /* This handles new line characters */
}
